@model int

<div class="container">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Thank You. <br /> Order Successful!</h1>
            <span style="color:#a71930"> 
                <strong>Your Order Number is : @Model</strong>
            <br />
            </span> 
            <br />
        <img src="~/images/Order/KTechTemplate.png" width="300" height="200" style="border-radius: 5%" />
    </div>
    <div class="col-12 text-center" style="color:#a71930;font-style:italic">
        Kutloano Technologies
    </div>
</div>
