<footer id="sticky-footer" class="py-2 bg-light border-top">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 text-center">
                &copy; @DateTime.Now.Year - KTechTemplate,
                <a href="" target="blank">Terms and Conditions</a>, <a href="" target="blank">Privacy Policy</a>,
                <a href="" target="blank">Developed By</a>.
            </div>
        </div>
    </div>
</footer>